/*
	@! AuthManager v3.0
	@@ User authentication and management web application
-----------------------------------------------------------------------------	
	** author: StitchApps
	** website: http://www.stitchapps.com
	** email: support@stitchapps.com
	** phone support: +91 9871084893
-----------------------------------------------------------------------------
	@@package: am_authmanager3.0
*/
body {
	position: relative;
    padding-top: 60px;
    padding-bottom: 20px;
}

small {
	font-size: 11px;
	color: #666666;
}

.hero-unit {
	float: left;
	height: 290px;
	padding: 100px 0 0 0;
	margin-right: 0;
	background: url(../images/main-promo.png) right bottom no-repeat;
}

.hero-unit h1 {
	font-size: 32px;
	margin-top: 50px;
	line-height: 1.1;
}

.hero-unit h2 {
	font-size: 14px;
	font-weight: normal;
}

.hero-unit p { margin: 10px 0; }
.home-margin { margin: 70px 0 0 0; }

.info-links a {
	font-size: 13px!important;
	margin-left: 10px;
}

.no-border { border: none; }
.profilephoto { display: inline; }

.adminusers {
	height: 25px;
	width: 25px;
	display: inline;
	margin-right: 8px;
}

/* ## footer */
.footer-container {
	border-top: 1px solid #eeeeee;
	padding: 18px 0 18px 0;
	font-size: 12px;
}

.footer-container li { list-style-type: none; }
.footer-container ul { margin-left: 0; }
.footer-container span a { padding: 0 0 0 8px; }

.footer-container span.benchmark {
	font-size: 11px;
	display: block;
	padding-top: 5px;
	color: #c3c3c3;
}

/* ## global styles */
.profile-photo {
	float: left;
	width: 25px;
	height: 25px;
	margin-top: 6px;
	border: 1px solid #1e3972;
}

td.first { font-weight: bold; }
.page-header { 
	margin-top: 10px;
	padding-bottom: 0px;
 }
.page-header h1 { font-size: 20px; }

/* ## media queries */
@media (max-width:768px) {
	body { padding-top: 0 }
}

@media (min-width:768px) and (max-width:980px) {
    body { padding-top: 0 }
}