html {
	height: 100%;
}
body {
	height: 100%;
	background-color: #EEE;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}
p {
	font-family: "Georgia", Times New Roman, Times, serif;
	line-height: 1.8em;
}
div#wrapper {
	min-height: 100%;
}
div#wrapcontainer {
	padding-bottom: 180px;
}
.main-header {
	background-color: #f5f5f5;
	margin: -20px -20px 10px;
	padding: 10px 20px 0px;

}
.main-header h1 {
	font-family: 'Carter One';
}
.main-header h1 small {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}
.main-header .breadcrumb {
	background: none;
	border: none;
	box-shadow: none;
	margin-left: 0;
	padding: 4px 0px;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;

}
.container {
	width: 940;
	margin-left: auto;
	margin-right: auto;
	zoom: 1;

}
.content {
	/* negative indent the amount of the padding to maintain the grid system */
	-moz-border-radius: 0px 0px 6px 6px;
	-moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, .15);
	-webkit-border-radius: 0px 0px 6px 6px;
	-webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, .15);
	background-color: #fff;
	border-radius: 0px 0px 6px 6px;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, .15);
	margin: 0px -20px;
	padding: 20px;

}

.label {
	vertical-align: middle;
}
.page-header {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	margin-top: 10px;
	padding-bottom: 0px;
}
.page-header h2 small {
	font-size: 14pt;
}

.profile-photo {
	float: left;
	width: 23px;
	height: 23px;
	margin-top: 5px;
	margin-right: 5px;
	border: 1px solid #1e3972;
}

.nav {
	margin-bottom: 0px;
}

.comments blockquote p {
	font-size: 14px;
}

.adminbox {
  position: relative;
  margin: 15px 0;
  padding: 39px 19px 14px;
  *padding-top: 19px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

/* Echo out a label for the example */
.adminbox:after {
  content: "Admin Stuffs";
  position: absolute;
  top: -1px;
  left: -1px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  color: #9da0a4;
  -webkit-border-radius: 4px 0 4px 0;
     -moz-border-radius: 4px 0 4px 0;
          border-radius: 4px 0 4px 0;
}


/* User info box */
.userinfo {
  margin: 15px 0;
  padding: 14px 19px 14px;
  *padding-top: 19px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.highlight {
	background-color: #F3F315;
}

.center {
	text-align: center;
}

hr.tablerow {
	margin: 5px 0;
}

/* Feed Stuff
-------------------------------------------------- */
.feed {
	font-size: 1em;
}

.feed i {
	margin-left: 5px;
}

.feed i:first-child {
	margin-left: 0px;
}

.feed .span11 {
	padding-left: 6px;
	margin-top: 0px;

}

.feed blockquote p {
	font-size: 1em;
}

.feed .meta {
	margin-top: 9px;
	margin-bottom: 0px;
}

.feed small {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.feed a {
	font-weight: bold;
}

.feed a.user {
	color: #4D4D4D;
	font-size: 1.1em;

}

.feed blockquote {
	margin: 0px;
}

.feed hr {
	border-top: 1px dashed #EEE;
}

/* Footer
-------------------------------------------------- */
.footer {
	/* box-shadow: inset 0px 5px 15px rgba(0, 0, 0, .025); */
	-moz-box-shadow: inset 0px 5px 15px rgba(0, 0, 0, .025);
	-webkit-box-shadow: inset 0px 5px 15px rgba(0, 0, 0, .025);
	background-color: #ccc;
	border-top: 1px solid #e5e5e5;
	min-width: 940px;
	padding-top: 30px;
	margin-top: -160px;
	text-shadow: 0px 1px 0px #ddd;
	position: relative;
	height: 129px;
	clear: both;
	
}
.footer p {
	color: #555;
}

.footer .container {
	background-color: #ccc;
}

/* Avatar box
-------------------------------------------------- */
